{% extends 'user.html' %}
{% block body %}
    <form action="review" method="post">
        {% csrf_token %}
        <div class="col mx-auto">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="type">
                            Review of:
                        </label>
                        <select class="form-control col" name="review-type" id="type">
                            <option>Album</option>
                            <option>Song</option>
                            <option>Artist</option>
                            <option>Playlist</option>
                        </select>
                    </div>
                </div>
                <div class="col" id="subj-auth-col">
                    <div class="form-group">
                        <label for="subject-auth" id="subj-auth-label">
                            Artist:
                        </label>
                        <input type="text" class="form-control" name="subj-auth" id="subject-auth"
                               placeholder="bob the builder">
                    </div>
                </div>
                <div class="col" id="subj-cont-col">
                    <div class="form-group">
                        <label for="subject-container">
                            Album:
                        </label>
                        <input type="text" class="form-control" name="subj-container" id="subject-container"
                               placeholder="bob's greatest hits">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="subject" id="subj-label">
                            Album:
                        </label>
                        <input type="text" class="form-control" name="subj" id="subject"
                               placeholder="Happy Birthday">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="title">
                            Title:
                        </label>
                        <input type="text" class="form-control" name="review-title" id="title"
                               placeholder="my dope review...">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="rat">
                            Rating:
                        </label>
                        <input type="number" class="form-control col-md-6" step="0.5" name="rating" id="rat" value="10"
                               min="0" max="10">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="text">
                            Review:
                        </label>
                        <textarea class="form-control" name="review-text" id="text"
                                  placeholder="your review goes here..." rows="12" cols="120"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Publish</button>
        </div>
    </form>
    <script type="text/javascript">
        $('#type').change(function(){
            let type_state = $('#type').val();
            if(type_state === 'Song'){
                $('#subj-cont-col').show();
                $('#subj-auth-col').show();
                $('#subj-label').text('Song:');
                $('#subj-auth-label').text('Artist:');
            } else if(type_state === 'Album'){
                $('#subj-cont-col').hide();
                $('#subj-auth-col').show();
                $('#subj-label').text('Album:');
                $('#subj-auth-label').text('Artist:');
            } else if(type_state === 'Artist'){
                $('#subj-cont-col').hide();
                $('#subj-auth-col').hide();
                $('#subj-label').text('Artist:');
            } else if(type_state === 'Playlist'){
                $('#subj-cont-col').hide();
                $('#subj-auth-col').show();
                $('#subj-label').text('Playlist:');
                $('#subj-auth-label').text('Creator(username):');
            }
        });
        $(document).ready(function(){
            $('#subj-cont-col').hide();
        });
    </script>
{% endblock %}