{% extends 'base.html' %}
{% block content %}



    <div class="page-title">
        Welcome to <span class="logo-imbed">schleen</span>
    </div>
    <div class="jumbotron">
        <p>
            <span class="logo-imbed">schleen</span> is a community
            forum where users can share their thoughts on the music they're listening to.
            You can see others' reviews on the browse page, or write a review yourself from
            your user page. If you're not logged in, you can login or register at the top
            right corner of the page.
        </p>
    </div>

{% endblock %}
