{% extends 'base.html' %}
{% block content %}
    <div class="page">
        <div  class="page-title">{{ user.first_name }}</div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'user' %}">my music<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myreviews' %}">my reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'review' %}">write a review</a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{% url 'user' %}">create a playlist</a>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'friends' %}">my friends</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container container-fluid">
            <div class="jumbotron rounded-bottom-corners">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
