{% extends 'user.html' %}
{% block body %}
    <div class="songs">
        <p class="lead">{{ user.first_name }}'s tastes: % current music themes popular to user... %</p>
        <hr class="my-4">
        <p class="lead">
        <h4 class="display-4">{{ user.first_name }}'s favorite songs right now:</h4>
        <div class="container fav-songs">
            <ul>
                {% for rec in list %}
                    <li>
                        <div class="song">
                            <p><span>{{ rec.title }}</span> by <span> {{ rec.artist }}</span></p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="topsongs">customize</a>
        </p>
    </div>
{% endblock %}