:root {
    --accent-color: #378FB3;
    --bg-dark: #001B2A;
    --text-color: #EDF5FF;
    --bg-light: #134966;
    --bg-accent: #FF5B79;
}

html, body {
    background: var(--bg-dark);
    color: var(--text-color);
    overflow-x: hidden;
}

@font-face {
    font-family: 'Sniglet';
    src: url('../../static/admin/fonts/Sniglet-Regular.woff2') format('woff2'),
    url('../../static/admin/fonts/Sniglet-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sniglet';
    src: url('../../static/admin/fonts/Sniglet-ExtraBold.woff2') format('woff2'),
    url('../../static/admin/fonts/Sniglet-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../../static/admin/fonts/Comfortaa-SemiBold.woff2') format('woff2'),
        url('../../static/admin/fonts/Comfortaa-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../../static/admin/fonts/Comfortaa-Regular.woff2') format('woff2'),
        url('../../static/admin/fonts/Comfortaa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../../static/admin/fonts/Comfortaa-Light.woff2') format('woff2'),
        url('../../static/admin/fonts/Comfortaa-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../../static/admin/fonts/Comfortaa-Bold.woff2') format('woff2'),
        url('../../static/admin/fonts/Comfortaa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.jumbotron {
    background: var(--bg-light);
}

.logo-imbed {
    font-family: 'Sniglet';
    font-weight: normal;
    font-size: 125%;
}

.navbar {
    width: 100%;
}

.navbar-primary {
    background: var(--bg-accent);
}

.navbar-primary .navbar-brand {
    color: var(--text-color);
    font-family: 'Sniglet';
    font-size: 175%;
}

.navbar-primary .nav-link {
    color: var(--text-color);
}

.navbar-primary .navbar-nav > .active > a,
.navbar-primary .navbar-nav > .active > a:focus,
.navbar-primary .navbar-nav > .active > a:hover {
    font-weight: bolder;
}

.page-default {
    padding-top: 2%;
}

.page-title {
    color: var(--text-color);
    font-family: 'Comfortaa';
    font-size: 325%;
    font-weight: bold;
}

.rating {
    color: orange;
}

.review-jumbo {
    background-color: var(--text-color);
    color: var(--bg-dark);
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.review-text-jumbo {
    background-color: #e4ecf5;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.review-title {
    padding-top: 10px;
}

.review-title-text {
    font-size: 20pt;
}

.rounded-bottom-corners {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.score-format {
    padding-top: 10%;
    font-weight: bolder;
}