{% extends 'base.html' %}
{% block content %}
<!--take registration input-->
<div class="content col-md-4 justify-content-center">
    <form action="register" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="fn">First Name:</label>
            <input type="text"  class="form-control" name="first_name" id="fn" placeholder="First Name">
        </div>
            <label for="fn">Last Name:</label>
            <input type="text" class="form-control" name="last_name" id="ln" placeholder="Last Name">
        <div class="form-group">
            <label for="fn">Email:</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="fn">Username:</label>
            <input type="text" class="form-control" name="username" id="un" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="fn">Password:</label>
            <input type="password" class="form-control" name="password1" id="pw" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="fn">Confirm Password:</label>
            <input type="password" class="form-control" name="password2" id="cpw" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

<div class="alert">
    {% for message in messages %}
        <h4>{{message}}</h4>
    {% endfor %}
</div>

{% endblock %}